---
import "../styles/global.css";
import ThemeToggle from "../components/ThemeToggle.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Cloud Next Extended Da Nang 2025</title>
	</head>
	<body>
		<slot />
		<ThemeToggle position="floating" size="large" />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
